build*/
.build/
bin/
*.dSYM
wdf_compiler
*.exe
*.pdb
*.ilk
*.rdi
*.bin
*.raw
*.log

/.idea
/.vscode
/.zed
.focus-config
*.raddbg_project

.DS_Store

xsimd/
armadillo/
rt-wdf/

demo/
notes/*.pdf
netlist_converter/netlist_converter
